@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Nabla", system-ui;
    font-size: 30px;
}
body
{
    min-height: 100vh;
    background: linear-gradient(#2b1055,#7597de);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

form
{
    width: 100%;
    text-align: center;
    min-height: 5em;
    top: 50%;
    position: absolute;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055
}

mark { 
    background-color: rgba(255, 255, 0, 0.659);
    color: black;
  }

.center {
    /* margin-left: auto;
    margin-right: auto; */
    width: 100%;
    text-align: center;
    min-height: 5em;
    position: absolute;
    bottom: 0;
    /* top: 80%;
    transform: translate(0, -80%); */
    font-family: "Crimson Pro", serif;
    font-style: normal;
    font-size: 15px;
}

img
{
    width: 100%;
    z-index: 0;
}